<!doctype html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <title>Title</title>
        <meta name="description" content="Description">
        <meta name="author" content="Filippo Toso">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
        <link rel="stylesheet" href="../../assets/css/typography.css">
        <link rel="stylesheet" href="../../assets/css/elements.css">
        <link rel="stylesheet" href="../../assets/css/components.css">
        <link rel="stylesheet" href="../../assets/css/custom.css">
    </head>
    <body>

        <!-- Crea qui i tuoi componenti -->

    </body>
</html>
